html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}

input,
textarea {
  border: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/background.jpg);
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.header {
  padding-top: 100px;
}

.header__top {
  display: flex;
}

.header__top-logo {
  padding-top: 20px;
  margin-right: 50px;
  margin-bottom: 80px;
}

.hero {
  margin-top: 40px;
}

.header__top-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

.header__top-title--bold {
  font-weight: 600;
}

.header__top-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.header__botton-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.header__botton {
  padding-left: 35px;
}

.header__botton-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 60px;
}

/* .page {
}

.page__contact {
} */
.page__contact {
  padding-left: 50px;
  position: relative;
}

.page__contact-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 30px;
}

.page__contact-title--loc::after {
  content: "";
  position: absolute;
  background-image: url(../icon/location.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 35px;
  height: 35px;
  left: -47px;
  top: 10px;
}

.page__contact-title--tel::after {
  content: "";
  position: absolute;
  background-image: url(../icon/mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 35px;
  height: 35px;
  left: -47px;
  top: 10px;
}

.page__contact-title--email::after {
  content: "";
  position: absolute;
  background-image: url(../icon/mail4svg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 35px;
  height: 35px;
  left: -47px;
  top: 10px;
}

.page__list {
  background-color: wheat;
}

/* .page__contact-link {
  background-color: salmon;
} */

.information__list {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(34, 27, 27);
}

.aboutMe {
  border-left: 2px solid rgb(34, 27, 27);
}

.title {
  margin: 50px 0 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgb(27, 22, 22);
}
/* .information {
  display: flex;
} */
