html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}

input,
textarea {
  border: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/background.jpg);
  color: #48494b;
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.header {
  padding-top: 100px;
}

.header__top {
  display: flex;
}

.header__top-logo {
  padding-top: 20px;
  margin-right: 50px;
  margin-bottom: 80px;
}

.hero {
  margin-top: 40px;
}

.header__top-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

.header__top-title--bold {
  font-weight: 600;
}

.header__top-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.header__botton-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2rem;
  margin-bottom: 30px;
}

.header__botton {
  padding-left: 35px;
}

.header__botton-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 60px;
}

.information {
  margin-bottom: 100px;
}

.information__list {
  padding-bottom: 50px;
}

.page {
  margin-right: 300px;
}

.page__contact {
  padding-left: 60px;
  position: relative;
}

.page__contact-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.page__contact-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 30px;
}

.page__contact-title--loc::after {
  content: "";
  position: absolute;
  background-image: url(../icon/location.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 50px;
  height: 50px;
  left: -59px;
  top: 5px;
}

.page__contact-title--tel::after {
  content: "";
  position: absolute;
  background-image: url(../icon/mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 50px;
  height: 50px;
  left: -59px;
  top: 5px;
}

.page__contact-title--email::after {
  content: "";
  position: absolute;
  background-image: url(../icon/mail.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ce993d;
  width: 50px;
  height: 50px;
  left: -59px;
  top: 5px;
}

.page__list {
  background-color: wheat;
}

/* .page__contact-link {
  background-color: salmon;
} */

.information__list {
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid rgb(34, 27, 27);
}

.title {
  margin: 50px 0 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: rgb(27, 22, 22);
}

.skills__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 65px;
}

.skills__item::after {
  content: "";
  position: absolute;
  left: -60px;
  top: 13px;
  width: 28px;
  border-bottom: 3px solid #000;
}

.reference__review {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.reference__review-name {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.reference__review-position {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.aboutMe {
  border-left: 2px solid rgb(34, 27, 27);
  padding-left: 30px;
}

.aboutMe__company {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.aboutMe__data {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}

.aboutMe__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
}

.aboutMe__list {
  margin-bottom: 70px;
}

.aboutMe__item {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.aboutMe__item-text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.information__color {
  background-color: #d09b3a;
  max-width: 1400px;
  height: 20px;
  margin: auto;
  /* max-width: 1400px; */
}

.information__color-botton {
  background-color: #3e3e40;
  max-width: 1400px;
  height: 35px;
  margin: auto;
}
